.hero{
    height: 90vh;
    background: linear-gradient(180deg,#d4ccbd,rgba(52, 51, 50, 0.133) 80%);
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
    padding-left: 150px;
    line-height: 1.2;
  
   
   
}
.hero-left h2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 150px;
    background-color: chocolate;
    border-radius: 6px;
    width: 50%;
    text-align: center;
}
.hero-left p{
    color: #171717;
    font-size: 70px;
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;

}
.hero-hand-icon i{
 
    font-size: 70px;
    color: rgb(232, 186, 0);
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 270px;
    height: 50px;
    border-radius: 75px;
    margin-top: 30px;
    background: orangered;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.hero-latest-btn i{
    color: #171717;
    font-size: 30px;
}

.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-right img{
    height: 90%;
    margin-top: 50px;
    margin-right: 20px;

}